
<div class="container">
    <h1>Welcome to Quotes Votes application!</h1>
    <img src="https://marketplace.canva.com/MAB5U3d02AA/2/0/thumbnail_large/canva-black-and-white-striped-quote-poster-MAB5U3d02AA.jpg" height="400px" width="600px">
   <div id="par">
   This application help you choose quote 
    read it and understand it,if you like it
    upvote it,if you do not like it downvote it.
    Do you have quote to add? add it below on the form. 
    You are Welcome again.
</div>
    




<ul>
    <div *ngFor='let quote of quotes;let i = index'>
        <li  id="{{i}}" appHighlight>{{quote.quoteName}} due on {{quote.completeDate|date}}</li>

         <p>This quote will be completed in {{quote.completeDate|dateCount}} days</p>


        <button  (click)='toogleDetails(i)'>Show Details</button>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'completequote($event,i)'></app-quote-details>
      </div>
    <app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>
</ul>

</div>












